[submodule "lib/cc3000"]
	path = lib/cc3000
	url = git@github.com:jaimeyu/Adafruit_CC3000_Library.git
[submodule "lib/gratis"]
	path = lib/gratis
	url = git@github.com:jaimeyu/gratis.git
[submodule "lib/adaGFX"]
	path = lib/adaGFX
	url = git@github.com:jaimeyu/Adafruit-GFX-Library.git
